.Particles {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.darkModeToggle {
  display: flex;
  background: #fff;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
}

.toggle {
  background: #e31b6d;
  border-radius: 50px;
  height: 18px;
  margin-top: 1px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 20px;
}

.darkMode {
  color: #ffffff;
  background-color: #313843;
}

/* .one {
  background: #252934;
  position: relative;
}

.one::after,
.one::before {
  position: absolute; 
  content: '';
  width: 100%;
  padding: 5rem;
  background: #FFC145;
  bottom: -1em;
  z-index: 100;
}

.one::before {
  right: 50%;
  transform: skew(0, 20deg)
}

.one::after {
  left: 50%;
  transform: skew(0, -20deg)
} */

.content {
  content: '';
  /* display: block; */
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  /* left: -5%; */
  height: 150px;
  z-index: -1;
  background: #ddd;
  border-radius: 50% / 50%;
}