.Particles {
  position: absolute;
  /* z-index: 0; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.darkModeToggle {
  display: flex;
  background: #fff;
  border-radius: 50px;
  border: 1px solid black;
  height: 20px;
  position: relative;
  width: 40px;
  /* margin-left: 30rem; */
}

.toggle {
  background: #e31b6d;
  border-radius: 50px;
  height: 18px;
  margin-top: 1px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 20px;
}

.darkMode {
  color: #ffffff;
  background-color: #313843;
}

/* .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .responsive {position: relative;}
  .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .responsive .dropdown {float: none;}
  .responsive .dropdown-content {position: relative;}
  .responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
} */
